{% extends "forums/base.html" %}
{% load utils %}
{% load forums %}
{% load breadcrumbs %}
{% load pagination_tags %}
{% block title %}{{ forum.name }} (Page {{ request.page }}) - {{ block.super }}{% endblock %}
{% block header %}
	<link rel="alternate" type="application/atom+xml" href="{% url feed_forums_index %}" title="{{ settings.SITE_NAME }} Forum" />
	<link rel="alternate" type="application/atom+xml" href="{% url feed_forums_forum forum.id %}" title="Forum &quot;{{ forum.name }}&quot; - {{ settings.SITE_NAME }} Forum" />
{% endblock header %}
{% block breadcrumbs %}{{ block.super }} {% breadcrumb_url forum.name forums.views.forum_view forum.id %}{% endblock %}
{% block content %}
	<h2>{{ forum.name }}</h2>
	{% if user.is_superuser or user.is_staff or user|can_post_topic:forum %}
	<a class="button reply" href="{% url forums.views.topic_new forum.id %}">New topic</a>
	{% else %}
	<a class="button reply disabled"{% if not user.is_authenticated %} href="{% url forums.views.topic_new forum.id %}"{% endif %}>New topic</a>
	{% endif %}
	{% autopaginate topics settings.TOPICS_PER_PAGE %}
	{% paginate %}
	<div id="singleforum">
		{% for t in topics %}
			<div class="topictitle left">{% url forums.views.topic_view t.id as topic_url %}{% with t|get_first_unread_post:request as first_unread %}{% if first_unread %}<a class="topictitle" href="{{ first_unread.get_absolute_url }}"><b>[UNREAD]</b></a>{% endif %}{% endwith %}{% if t.is_sticky %}<b>[STICKY]</b> {% endif %}{% if t.is_closed %}<b>[CLOSED]</b> {% endif %} {{ t|topic_pagination:settings.POSTS_PER_PAGE }}<a class="topictitle" href="{{ topic_url }}">{{ t.title }}</a><br />
			<span class="topicmeta">Senaste: <a href="{{ t.last_post.get_absolute_url }}">{{ t.last_post.created_at|user_date:user }}</a> av {{ t.last_post.author }}</span>
			</div>
			<table class="topiccounts right">
				<tbody><tr>
					<th>Svar</th>
					<th>Visningar</th>
				</tr>
				<tr>
					<td>{{ t.post_count|add:"-1" }}{# nice hack #} </td>
					<td>{{ t.view_count }}</td>
				</tr>
			</tbody></table>
		{% empty %}
			<p>No topics in this forum.</p>
		</div>
		{% endfor %}
	</div>
	{% paginate %}
	{% if user.is_superuser or user.is_staff or user|can_post_topic:forum %}
	<a class="button reply" href="{% url forums.views.topic_new forum.id %}">New topic</a>
	{% else %}
	<a class="button reply disabled"{% if not user.is_authenticated %} href="{% url forums.views.topic_new forum.id %}"{% endif %}>New topic</a>
	{% endif %}
{% endblock content %}
