{% extends "forums/base.html" %}
{% load utils %}
{% load forums %}
{% block title %}{{ block.super }}{% endblock %}
{% block header %}
	<link rel="alternate" type="application/atom+xml" href="{% url feed_forums_index %}" title="{{ settings.SITE_NAME }} Forum" />
{% endblock header %}
{% block content %}
	<div id="topics_view">
		{% for t in topics %}
			<div class="topictitle left">{% url forums.views.topic_view t.id as topic_url %}{% with t|get_first_unread_post:request as first_unread %}{% if first_unread %}<a class="topictitle" href="{{ first_unread.get_absolute_url }}"><b>[UNREAD]</b></a>{% endif %}{% endwith %}{% if t.is_sticky %}<b>[STICKY]</b> {% endif %}{% if t.is_closed %}<b>[CLOSED]</b> {% endif %} {{ t|topic_pagination:settings.POSTS_PER_PAGE }}<a class="topictitle" href="{{ topic_url }}">{{ t.title }}</a><br />
			<span class="topicmeta">Senaste: <a href="{{ t.last_post.get_absolute_url }}">{{ t.last_post.created_at|user_date:user }}</a> av {{ t.last_post.author }}</span>
			</div>
			<table class="topiccounts right">
				<tbody><tr>
					<th>Svar</th>
					<th>Visningar</th>
				</tr>
				<tr>
					<td>{{ t.post_count|add:"-1" }}{# nice hack #} </td>
					<td>{{ t.view_count }}</td>
				</tr>
			</tbody></table>
		{% empty %}
			<p>No topics in this forum.</p>
		</div>
		{% endfor %}
	</div>
	<div class="right">
	<table id="forum_view">
		<tbody><tr>
			<th>Forum name</th>
			<th>Topic count</th>
		</tr>
		{% for f in forums %}
		<tr>
			<td>
				<b><a href="{% url forums.views.forum_view f.id %}">{{ f.name }}</a> {% if f.has_new_posts %} [ New Posts ] {% endif %}</b>
				<p>{{ f.description }}</p>
			</td>
			<td>{{ f.topic_count }}</td>
		</tr>
		{% empty %}
			<td colspan="4">No forums. :-(</td>
		{% endfor %}
	</tbody></table>
	</div>
{% endblock content %}
{% block after_content %}
	<div id="forum_stats">
			<div id="users_online">
				<span id="users_online_info">Currently there {{ users_online|length|pluralize:"is,are" }} {{ users_online|length|default:"no" }} user{{ users_online|length|pluralize }} online{% if users_online|length %}:{% endif %}</span>
				<span id="users_online_data">{% for u in users_online %}<a href="{{ u.get_absolute_url }}">{{ u.username }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</span>
			</div>
			<div id="random_numbers">
				Users: {{ users }} | Topics: {{ topics }} | Posts: {{ posts }}
			</div>
	</div>
{% endblock after_content %}
